 	<style type="text/css">
	
	 @font-face {/*--normal--*/
	        font-family: 'sourcesansproregular';
	        src: url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.eot');
	        src: url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.eot?#iefix') format('embedded-opentype'),
	             url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.woff') format('woff'),
	             url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.ttf') format('truetype'),
	             url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.svg#sourcesansproregular') format('svg');
	        font-weight: normal;
	        font-style: normal;
	 }
	@font-face {/*--bold--*/
		    font-family: 'sourcesanspro-bold';
		    src: url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.eot');
		    src: url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.svg#sourcesanspro-bold') format('svg');
		    font-weight: bold;
		    font-style: normal;
	}
	@font-face {/*--italic--*/
		    font-family: 'sourcesanspro-it';
		    src: url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.eot');
		    src: url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.woff') format('woff'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.ttf') format('truetype'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.svg#sourcesanspro-it') format('svg');
		    font-weight: normal;
		    font-style: italic;
	}
	@font-face {/*--boldItalic--*/
		    font-family: 'sourcesanspro-boldit';
		    src: url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.eot');
		    src: url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.woff') format('woff'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.ttf') format('truetype'),
		         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.svg#sourcesanspro-boldit') format('svg');
		    font-weight: bold;
		    font-style: italic;

	}


	#content p {
		font-size: 13pt;
	}
	.pag b{
		font-weight: bold;
	}
	.pag p{
		text-align: justify;
		color: #404041;
		line-height: 23px;
		clear: both;
		font-family: "sourcesansproregular";
	}

	.pag p em {
		color: #F05422;/*#F16223*/
		font-style: normal;
	}

	

	.pag h1{
		
		font-weight: bold;
		font-size:20px;
		clear: both;
		color: #106db6;
		
	}
	/*-------FUENTES------------*/
	.pag p span {
		font-family: "sourcesanspro-boldit";
		color: #283583;
		font-style: italic !important;
		font-weight: bold !important;
	}
	.pag p span2{
		font-family: "sourcesanspro-boldit";
		color: #009FE3;
		font-style: italic !important;
		font-weight: bold !important;
	}
	.pag p span3{
		font-family: "sourcesanspro-boldit";
		color: #009FE3;
		font-style: italic !important;
		font-weight: bold !important;

	}
	.pag p span4{
		color: #E50043;
		font-family: "sourcesanspro-boldit";
		font-weight: bold;
		font-style: italic;
	}
	.pag p span5{
		color: #283583;
		font-family: "sourcesanspro-boldit";
		font-weight: bold;
		font-style: italic;
	}
	.pag p span6{
		color: #FAA12D;
		font-family: "sourcesanspro-bold";
		font-weight: bold !important;
		font-style: normal !important;
	}

	.pag p span7{
		color: #F05422;
		font-style: normal;
	}
	.pag p txtBoldItalicBlack{
		font-family: "sourcesanspro-boldit";
		font-weight: bold !important;
		font-style: italic !important;
	}
	.pag p txtBoldBlack{
		font-family: "sourcesanspro-bold";
		font-weight: bold !important;
		font-style: normal !important;
	}
	

	.ui-dialog-titlebar-close {
		visibility: hidden;
	}

	
	.textTit{
		/* margin-left: 135px; */
		color: #0F76BB;
		font-size: 19px;
		clear: both;
		font-family: "sourcesansproregular";
	}

	.contIz{
		width: 300px;
		float: left;
		margin-top: 205px;
	}

	.contDer{
		width: 246px;
		float: right;
		margin-top: 125px;
		
	}
		.contDer p{
			text-align: left;
		}
	
	.contIzDos{
		width: 85px;
		float: left;
		margin-top: 10px;
	}

	.contDerDos{
		width: 434px;
		overflow: auto;
	/*	float: left;*/
		border: 3px solid #EE1C25;
		background-color: #FEF2F3;
		padding-left: 20px;
		padding-right: 10px;
		border-radius: 15px;
		margin-left: 90px;


	}
		.contDerDos1{
			width: 236px;
			float: left;

		}
		.contDerDos2{
			width: 188px;
			float: right;
			margin-top: 50px;
			
		}

	.contIzTres{
		width: 77px;
		float: left;

	}
	.contDerTres{
		width: 460px;
		float: right;
		
	}

	.contIzCuatro{
		width: 77px;
		float: left;
	}
	.contDerCuatro{
		width: 460px;
		float: right;
	}

	.contIzCinco{
		width: 78px;
		float: left;
		margin-top: 20px;
	}
	.contDerCinco{
		width: 460px;
		float: right;
		
	}
	.contIzSeis{
		width: 78px;
		float: left;
		margin-top: 13px;
	}
	.contDerSeis{
		width: 460px;
		float: right;
		
	}

	.contIzSiete{
		width: 85px;
		float: left;
		margin-top: 10px;
	}
	.contDerSiete{
		width: 434px;
		overflow: auto;
	/*	float: left;*/
		border: 3px solid #EE1C25;
		background-color: #FEF3ED;
		padding-left: 20px;
		padding-right: 10px;
		border-radius: 15px;
		margin-left: 90px;
	}
	.contIzOcho{
		width: 169px;
		float: left;
		margin-top: 15px;
	}
	.contDerOcho{
		width: 380px;
		float: right;
	}
		.contDerOcho1{
			width: 348px;
			overflow: auto;
			background-color: #F6F6F6;
			margin-top: 55px;
			padding-left: 15px;
			padding-right: 15px;
		}

	.contIzNueve{
		width: 169px;
		float: left;
		margin-top: 90px;
	}
	.contDerNueve{
		width: 380px;
		float: right;
	}
		.contDerNueve1{
			width: 348px;
			overflow: auto;
			background-color: #F6F6F6;
			margin-top: 51px;
			padding-left: 15px;
			padding-right: 15px;

		}

	.contIzDiez{
		width: 85px;
		float: left;
		margin-top: 10px;

	}
	.contDerDiez{
		width: 434px;
		overflow: auto;
	/*	float: left;*/
		border: 3px solid #EE1C25;
		background-color: #FEF3ED;
		padding-left: 20px;
		padding-right: 10px;
		border-radius: 15px;
		margin-left: 90px;
		margin-bottom: 50px;
	}
		.contDerDiez p{
			text-align: left;
		}

	.contIzOnce{
		width: 300px;
		float: left;
		margin-top: 40px;
	}
	.contDerOnce{
		width: 250px;
		float: right;
		border: 3px solid #EE1C25;
		background-color: #FEF3ED;
		padding-left: 20px;
		padding-right: 10px;
		margin-top: -60px;
		border-radius: 15px;
	}

	.contImg1{
		width: 100%;
	}
	.contImg2Cuadro{
		width: 100%;
		height: 320px;
		background-color: #EEEEEE;
		border-radius: 10px;
		padding-top: 10px;

	}
		.contImg2_1{
			width: 260px;
			margin-left: 280px;
		}
			.contImg2_1 p{
				text-align: left;
			}
		.contImg2_2{
			width: 300px;
			margin-top: -230px;
			margin-left: 25px;
		}
		.contImg2_3{
			position: absolute;
			margin-top: 96px;
			margin-left: 234px;
		}

	.contImg4Iz{
		width: 216px;
		margin-top: 100px;
		float: left;
	}
		.contImg4Iz p{
			text-align: center;
		}
	.contImg4Der{
		width: 256px;
		overflow: auto;
		background-color: #F2F3F3;
		border-radius: 10px;
		float: right;
		margin-top: 20px;
		padding-left: 30px;
		padding-right: 20px;

	}
		.contImg4Der li{
			color: #009FE3 !important;
		}
		.contImg4Der p{
			text-align: left;
		}

	.contImg5{
		width: 100%;
	}
		.txtContImg5_1 p{
			width: 247px;
			position: absolute;
			margin-top: -447px;
			margin-left: 171px;

		}
		.txtContImg5_2 p{
			width: 153px;
			position: absolute;
			margin-top: -330px;
			margin-left: 9px;
			text-align: left;

		}
		.txtContImg5_3 p{
			width: 210px;
			position: absolute;
			margin-top: -342px;
			margin-left: 384px;
			text-align: center;

		}
		.txtContImg5_4 p{
			width: 163px;
			position: absolute;
			margin-top: -22px;
			margin-left: 20px;

		}
		.txtContImg5_5 p{
			width: 149px;
			position: absolute;
			margin-top: -17px;
			margin-left: 417px;

		}
		.txtContImg5_6 p{
			width: 210px;
			position: absolute;
			margin-top: -322px;
			margin-left: 179px;
			text-align: left;

		}
	.contImg6Iz{
		width: 208px;
		float: left;
		margin-top: 30px;
	}
		.contImg6Iz p{
			text-align: left;
		}
	.contImg6Der{
		width: 290px;
		float: right;
		background-color: #F2F3F3;
		border-radius: 10px;
		padding: 20px;
	}

	.txtInter{
		width: 260px;
		margin: auto;

	}
	.txtInter p{
		text-align: left;
	}
	.contImg7_v2{
		width: 166px;
		margin-left: 200px;

	}
	.contCuadroIzImg7{
		width: 220px;
		overflow: auto;
		padding: 20px;
		float: left;
		border-radius: 10px;
		background-color: #CCECF9;
		margin-top: 20px;

	}
		.contCuadroIzImg7 p{
			text-align: left;
		}
	.contCuadroDerImg7{
		width: 230px;
		overflow: auto;
		padding: 20px;
		float: right;
		border-radius: 10px;
		background-color: #FCE5CC;
		margin-top: 20px;
		
	}
	.contImg13{
		width: 100%;
	}
		.txtContImg13_1 p{
			width: 540px;
			position: absolute;
			margin-left: 20px;
			margin-top: -211px;
			text-align: left;

		}
		.txtContImg13_2 p{
			width: 170px;
			position: absolute;
			margin-left: 16px;
			margin-top: -83px;
			text-align: center;
		}
		.txtContImg13_3 p{
			width: 110px;
			position: absolute;
			margin-left: 231px;
			margin-top: -83px;
			text-align: center;
		}
		.txtContImg13_4 p{
			width: 180px;
			position: absolute;
			margin-left: 424px;
			margin-top: -83px;
			text-align: left;
		}
	.contImg13_v2{
		position: absolute;
		margin-top: -17.5px;
		margin-left: 72px;
	}
	.contImg13CuadroFix{
		width: 89%;
		overflow: auto;
		padding: 20px;
		background-color: #F8F9F9;
		border-radius: 10px;
		margin-top: 72px;
	}
	.contImg14{
		width: 100%;

	}
	.contImg15{
		width: 100%;
		margin-bottom: 7px;

	}
		.contImg15 p{
			position: absolute;
			width: 500px;
			margin-top: -60px;
			margin-left: 30px;

		}
	.conyImg15_2{
		width: 100%;
	}
		.txtContImg15_2 p{
			position: absolute;
			width: 400px;
			margin-top: -491px;
			margin-left: 140px;
			line-height: 17px;
			
		}
		.txtContImg15_3 p{
			position: absolute;
			width: 400px;
			margin-top: -279px;
			margin-left: 143px;
			text-align: left;
			line-height: 18px;
			
		}

		.txtContImg15_4 p{
			position: absolute;
			width: 400px;
			margin-top: -111px;
			margin-left: 143px;
			
		}
	.contImg19Cuadro{
		width: 91%;
		padding-left: 30px;
		padding-right: 20px;
		overflow: auto;
		background-color: #F2F3F3;
		border-radius: 10px;
	}
		.contImg19Cuadro li{
			color: #009FE3;
		}

	.contImg20{
		width: 100%;
	}
		.txtContImg20_1 p{
			width: 247px;
			position: absolute;
			margin-top: -496px;
			margin-left: 12px;
			text-align: left;

		}
		.txtContImg20_2 p{
			width: 238px;
			position: absolute;
			margin-top: -482px;
			margin-left: 314px;
			text-align: left;
			line-height: 20px;

		}
		.txtContImg20_3 p{
			width: 240px;
			position: absolute;
			margin-top: -276px;
			margin-left: 26px;
			text-align: left;
			line-height: 18px;

		}
		.txtContImg20_4 p{
			width: 245px;
			position: absolute;
			margin-top: -276px;
			margin-left: 334px;
			text-align: left;
			line-height: 21px;

		}
		.txtContImg20_5 p{
			width: 242px;
			position: absolute;
			margin-top: -104px;
			margin-left: 13px;
			text-align: left;
			line-height: 19px;

		}
		.txtContImg20_6 p{
			width: 220px;
			position: absolute;
			margin-top: -78px;
			margin-left: 320px;
			line-height: 21px;

		}
	.contImg21{
		width: 275px;
		float: left;
		margin-left: -7px;
		margin-top: 70px;
	}
	.contImg21_2{
		width: 288px;
		float: left;
	}

	.contImg24{
		width: 159px;
		float: left;
		margin-top: 70px;
	}
	.contImg24_2{
		width: 400px;
		float: left;
	}
	.contImg25{
		margin-left: 180px;
	}
	.contImg26Cuadro{
		width: 91%;
		padding-left: 30px;
		padding-right: 20px;
		overflow: auto;
		background-color: #F2F3F3;
		border-radius: 10px;
	}
		.contImg26Cuadro p{
			text-align: left;
		}


	.contImg27{
		margin-left: -1.1px;
	}

	.contImg28{
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.contImg29{
		margin-bottom: 30px;
	}
	.contImg30{
		margin-bottom: 30px;
	}
	.contImg31{
		margin-bottom: 30px;
	}
	.contImg32{
		margin-bottom: 30px;
	}
	.contImg33{
		margin-bottom: 30px;
	}
	.contImg34{
		margin-bottom: 30px;
	}
	.contImg35{
		margin-bottom: 30px;
	}
	.contImg36{
		margin-bottom: 30px;
	}
	.contImg37{
		margin-bottom: 30px;
	}
	.contImg38{
		margin-bottom: 30px;
	}
	.contImg39{
		margin-bottom: 30px;
	}

	.contImg40{
		margin-top: 40px;
		margin-left: 90px;
	}
	.contImg41Cuadro{
		width: 91%;
		padding-left: 30px;
		padding-right: 20px;
		overflow: auto;
		background-color: #F2F3F3;
		border-radius: 10px;
	}
		.txtFooterContImg41Cuadro{
			margin-left: 130px;
		}
		.contImg41Cuadro p{
			text-align: left;
		}

	.contImg42{
		margin-left: 1px;
	}

	.contImg43{
		margin-bottom: 12px;
	}

	.contImg46{
		margin-bottom: 20px;
	}
	.contImg48{
		width: 100%;
		margin-bottom: 290px;
	}
		.txtContImg48_1 p{
			width: 395px;
			overflow: auto;
			position: absolute;
			margin-top: -267px;
			margin-left: 120px;
			border-radius: 5px;
			background-color: #F2F3F3;
			padding: 20px;
		}
		.txtContImg48_2 p{
			width: 176px;
			overflow: auto;
			position: absolute;
			margin-top: 10px;
			margin-left: -1px;
			border-radius: 5px;
			background-color: #F2F3F3;
			padding: 20px;
			text-align: left;
			
		}
		.txtContImg48_3 p{
			width: 180px;
			overflow: auto;
			position: absolute;
			margin-top: 30px;
			margin-left: 335px;
			border-radius: 5px;
			background-color: #F2F3F3;
			padding: 20px;
			
		}

	.contImg49{
		position: absolute;
		margin-top: -230px;
		margin-left: 215px;
	}
		
	.lineaSepPag{
		clear: both;
	}
		
	.modal1{
		margin-bottom: 100px;
	}
	.modal2{
		margin-top: 30px;
		margin-bottom: 50px;
	}
	.upModal{
		font-size: 15px;
		color: #F37361;
		font-family: 'VistaSanBol';
	}
	
	.upModal2{
		font-size: 15px;
		color: #F37361;
		font-family: 'VistaSanBol';
	}
	
	.listadoNaranja{
		color: #F05422;
	}
	.margenLi{
		margin-left: 17px;
	}
	.cleaner{
		clear: both;
	}
	.cleaner2{
		height: 30px;
		clear: both;
	}

	#flashContent{
		margin-left: -78px;
		/*margin-top: 30px;*/
	}

	/*--------Custom----------*/
	.subrayado1{
		width: 537px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado1 p{
			text-align: left;
		}
	.subrayado2{
		width: 320px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado2 p{
			text-align: left;
		}
	.subrayado3{
		width: 273px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado3 p{
			text-align: left;
		}
	.subrayado4{
		width: 180px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado4 p{
			text-align: left;
		}
	.subrayado5{
		width: 100%;
		border-bottom: 2px dotted #283583;
	}
		.subrayado5 p{
			text-align: left;
		}
	.subrayado6{
		width: 270px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado6 p{
			text-align: left;
		}
	.subrayado7{
		width: 240px;
		border-bottom: 2px dotted #283583;
	}

		.subrayado7 p{
			text-align: left;
		}
	.subrayado8{
		width: 365px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado8 p{
			text-align: left;
		}
	.subrayado9{
		width: 185px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado9 p{
			text-align: left;
		}
	.subrayado10{
		width: 477px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado10 p{
			text-align: left;
		}
	.subrayado11{
		width: 399px;
		border-bottom: 2px dotted #283583;
	}
		.subrayado11 p{
			text-align: left;
		}
	.cleaner3{
		clear: both;
		margin-bottom: 20px;
	}
	.cleaner4{
		clear: both;
		margin-bottom: 50px;
		height: 1px;
	}
	.img18{
		position: absolute;
		margin-top: -10px;

	}
	.imgFix{
		position: absolute;
		margin-top: -11px;
	}
	.contCuadro1{
		width: 93%;
		height: 260px;
		border-radius: 15px;
		border: 3px solid #EE1C25;
		background-color: #FEF3ED;
		padding-left: 20px;
		padding-right: 10px;
	}
		.imgContCuadro1{
			width: 206px;
			float: left;
			margin-top: 20px;

		}
		.txtContCuadro1{
			width: 280px;
			float: left;
			margin-top: 50px;
			padding-left: 4px;
		}
			.txtContCuadro1 p{
				text-align: left;
			}

	.img45{
		float: left;
	}
	.img46{
		float: left;
		margin-left: 25px;
	}
	.img2_v4{
		width: 70px;
	}
	.img21_2{
		width: 292px;
	}

	</style>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#imgModal1").dialog({
			autoOpen: false,
			width: 990,
			modal: true,
			buttons: {
	  		  	Cerrar: function(){
	  	      		$(this).dialog("close");
				}}
			});

		$('.upModal').click(function(){
			$('#imgModal1').dialog('open');
		});

			$("#imgModal2").dialog({
				autoOpen: false,
				width: 990,
				modal: true,
				buttons: {
					Cerrar: function(){
						$(this).dialog("close");
					}
				}
			});
		$('.upModal2').click(function(){
			$('#imgModal2').dialog('open');
		});

	});
		
	</script>

	<div class="pag">

	
			<p class="subrayado1"><span>1. Inserción de los Medios de Pago en un mundo globalizado</span></p>

			<p><span2>¿Sabes cuál ha sido impacto de las tarjetas de crédito en el mundo?</span2></p>

		<div class="contImg1">

			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_1.png">

		</div>
			
	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

		<div class="contImg2Cuadro">

			<div class="contImg2_1">
				<p>El impacto mundial del dinero plástico ha generado una revolución no sólo comercial, sino que también cultural.</p>

				<p><txtBoldItalicBlack>Su desarrollo ha alcanzado tales niveles, que con una sola tarjeta podemos comprar fruta en la feria de nuestro barrio y pagar un hotel al otro lado del mundo.</txtBoldItalicBlack></p>
			</div>

			<div class="contImg2_2">
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_2_v2.png">
			</div>

			<div class="contImg2_3">
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_2_v4.png" class="img2_v4">
			</div>

		</div>

		<div class="contIz">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_3.png">
		</div>

		<div class="contDer">
			<p>Somos una industria de volúmenes inconmensurables y que ha generado una revolución a todo lo conocido en las relaciones comerciales, provocando grandes cambios socio-culturales en nuestra época.</p>

			<p><txtBoldItalicBlack>Es por eso que en Transbank somos una Compañía que avanza al ritmo que exigen las marcas que representa. ¡Queremos tu compromiso y tu esfuerzo!</txtBoldItalicBlack></p>

		</div>

		<div class="cleaner">
		</div>
		
	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p class="subrayado2"><span>2. ¿Cuáles son los Medios de Pago?</span></p>

			<p>Los más tradicionales han sido: documentos (cheques), créditos documentados (letras) y con la llegada de la tecnología, tarjetas de crédito, de débito y transferencias electrónicas.
			<br>Los sistemas de pago pueden ser físicos o electrónicos.</p>

		<div class="contImg4Iz">
			<p><span2>¿Cómo se relacionan con la globalización?</span2></p>
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_4_v3.png">
		</div>

		<div class="contImg4Der">

			<li><p>La estandarización ha permitido que estos sistemas y redes funcionales actúen a escalas globales como también a niveles de países específicos.</p></li>

			<li><p>Las más conocidas son las Marcas Internacionales que operan en comercios y cajeros automáticos.</p></li>
			
			<li><p>También existen redes de transferencia global de fondos (SWIFT), compra de monedas y acciones, materias primas, futuros, etc.</p></li>

			<li><p>Usar el término de transacción electrónica generalmente refiere al Comercio Electrónico por Internet. Esto es correcto en ese ámbito, pero no es exclusivo dado que los Sistemas de Medios de Pago son más amplios en su concepción.</p></li>
			

		</div>

		<div class="cleaner"></div>

	</div>

		<!-- PAGE-BREAK -->

	<div class="pag">

			<p>Básicamente los Medios de Pago nos permiten obtener bienes y servicios que el mercado ofrece. En nuestro país encontramos principalmente los siguientes:</p>

		<div class="contImg5">

		<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_5.png">

			<div class="txtContImg5_1">
				<p><txtBoldBlack>Transferencias electrónicas</txtBoldBlack></p>
			</div>

			<div class="txtContImg5_2">
				<p><txtBoldBlack>Tarjeta de Débito</txtBoldBlack></p>
			</div>

			<div class="txtContImg5_3">
				<p><txtBoldBlack>Cheques y documentos bancarios</txtBoldBlack></p>
			</div>

			<div class="txtContImg5_4">
				<p><txtBoldBlack>Tarjeta de Crédito</txtBoldBlack></p>
			</div>

			<div class="txtContImg5_5">
				<p><txtBoldBlack>Pago en efectivo</txtBoldBlack></p>
			</div>

			<div class="txtContImg5_6">
				<p><span2>¿Cómo desea cancelar?</span2></p>
			</div>
		</div>

	</div>

			<!-- PAGE-BREAK -->

	<div class="pag">

		<div class="contImg6Iz">
			<p><span2>¿Cuáles son sus beneficios?</span2></p>
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_6_v2.png">
		</div>

		<div class="contImg6Der">
			<p>Disminución en los costos de transacción, aumento en la seguridad, facilitación de la distribución de bienes, pago y seguimiento del uso de fondos, promoción del comercio electrónico y fomento del consumo por vías de comercio formales.</p>

			<p>Los Medios de Pago deben permitir transacciones baratas, dar acceso al crédito y la opción de ahorrar usando vehículos simples y seguros.</p>

		</div>

		<div class="cleaner4"></div>

		<div class="txtInter">
			<p><span2>¿Quiénes usan los Medios de Pago?</span2></p>
		</div>

		<div class="contImg7_v2">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_6_v3.png">
		</div>

		<div class="contCuadroIzImg7">
			<p>Son instrumentos utilizados por <txtBoldBlack>dos actores :</txtBoldBlack>
			<br>• El comercio que los acepta.
			<br>• El tarjetahabiente que los usa.</p>
		</div>

		<div class="contCuadroDerImg7">
			<p>En economía, mercado de dos lados. Ambos necesitan del sistema de Medios de Pago para interactuar. Las decisiones de uno afectan al otro por lo que se requiere que ambos los ocupen y los masifiquen para ser beneficiados.</p>
		</div>

		<div class="cleaner"></div>

	</div>

	
	<!-- PAGE-BREAK -->

	<div class="pag">
		
		<div class="contIzDos">
			<img src="http://static.vgroup.cl/img/2014/ico/ico_alert.png">
		</div>

		<div class="contDerDos">

			<div class="contDerDos1">

				<p>En Transbank administramos los pagos con Tarjetas normadas por la Superintendencia de Bancos y proporcionamos la más alta seguridad y tecnología al servicio del comercio, emisores de tarjeta y de sus clientes. <txtBoldBlack>Lo que nos hace parte fundamental del uso de un Medio de Pago que brinda una experiencia de compra y pago memorable.</txtBoldBlack></p>

			</div>

			<div class="contDerDos2">
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_8.png">
			</div>
		</div>

		<div class="cleaner2"></div>

			<p class="subrayado3"><span>3. Roles en el proceso de pago</span></p>

			<p><span2>¿Cuáles son sus características generales?</span2></p>

		<div class="contIzTres">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_9.png">
		</div>

		<div class="contDerTres">
			<p>Pertenecen a un Sistema de Pago que es regido por leyes, reglas y estándares.</p>
		</div>

			<div class="cleaner3">
			</div>

		<div class="contIzCuatro">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_10.png">
		</div>

		<div class="contDerCuatro">
			<p>El emisor relaciona el Medio de Pago con una cuenta y provee funcionalidades que permiten intercambio de dinero.</p>
		</div>

			<div class="cleaner3">
			</div>

		<div class="contIzCinco">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_11.png">
		</div>

		<div class="contDerCinco">
			<p>Poseen infraestructura institucional, reglas, procedimientos estandarizados y medios tecnológicos definidos para efectuar transferencias monetarias entre partes que han contraído obligaciones mutuas.</p>
		</div>

			<div class="cleaner3">
			</div>

		<div class="contIzSeis">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_12.png">
		</div>

		<div class="contDerSeis">
			<p>La eficiencia de este medio de pago permite que este “sustituto del efectivo” sea utilizado en un sistema económico de manera segura y satisfactoria para todos los participantes.</p>
		</div>

			<div class="cleaner">
			</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">
		
		<div class="contImg13">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l2_18.png">

			<div class="txtContImg13_1">
				<p>Los roles determinantes dentro del proceso de pago con tarjeta son:</p>
			</div>

			<div class="txtContImg13_2">
				<p>Red de comercio adquirente</p>
			</div>

			<div class="txtContImg13_3">
				<p>Operador</p>
			</div>

			<div class="txtContImg13_4">
				<p>Empresa emisora</p>
			</div>

		</div>

		<div class="contImg13_v2">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_13_v2.png">
		</div>

		<div class="contImg13CuadroFix">
			<p><txtBoldItalicBlack>Algunos modelos del proceso de adquirencia:</txtBoldItalicBlack></p>

			<p><span6>1.</span6> Un solo adquirente, a través del cual operan todas las marcas de &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tarjetas, y único encargado de afiliar comercio.
			<br><span6>2.</span6> Una red de adquirencia por cada marca.
			<br><span6>3.</span6> Varios adquirentes que operan una multiplicidad de marcas.
				
			</p>
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">
		
		<div class="contImg14">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_14.png">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">
		
		<div class="contIzSiete">
			<img src="http://static.vgroup.cl/img/2014/ico/ico_alert.png">
		</div>

		<div class="contDerSiete">
			<p>En Chile, la Ley no distingue este rol en el sistema de Medios de Pago, sólo define el de emisor y operador.</p>

			<p>El rol Adquirente pertenece a los emisores otorgado por las marcas internacionales y son ellos quienes los entregan a Transbank para su operación.</p>

			<p>En otros países existen instituciones que realizan el rol adquirentes por sí mismos y traspasan al emisor las transacciones a través de las normas del intercambio.</p>

		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

		<div class="contImg15">

			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_15_2.png">

			<p>En resumen, Transbank es un SAG (Sociedad de Apoyo al Giro Bancario) que a su vez cuenta con 3 roles principales:</p>
			
		</div>

		<div class="contImg15_2">

			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_15_1.png">
			<div class="txtContImg15_2">
				<p><txtBoldItalicBlack>Rol de desarrollo de los Medios de Pago e investigación tecnológica:</txtBoldItalicBlack>
				<br><br>• Desarrollo comercial de soluciones y productos.
				<br>• Identificación y desarrollo de nuevas tecnologías y soluciones.</p>


			</div>

			<div class="txtContImg15_3">
				<p><txtBoldItalicBlack>Rol comercial:</txtBoldItalicBlack>
				<br><br>• Afiliación, mantención y explotación de EECC.</p>
			</div>

			<div class="txtContImg15_4">
				<p><txtBoldItalicBlack>Rol operacional: </txtBoldItalicBlack>
				<br><br>• Procesamiento de transacciones.
				<br>• Servicio de red.</p>
			</div>

		
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p class="subrayado4"><span>4. ¿Quiénes somos?</span></p>

		<div class="contIzOcho">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_16.png">
		</div>

		<div class="contDerOcho">
			<p><txtBoldItalicBlack>¿Cuál es nuestra Visión?</txtBoldItalicBlack></p>
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_18.png" class="img18">

			<div class="contDerOcho1">
				<p>“Lograr que los <span4>Medios de Pago seguros</span4> que se gestionan, sean preferidos y los más utilizados en el mercado chileno”.</p>
			</div>

		</div>

		<div class="cleaner4">
		</div>

		<div class="contIzNueve">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_17.png">
		</div>

		<div class="contDerNueve">
			
			<p><txtBoldItalicBlack>¿Cuál es nuestra Misión?</txtBoldItalicBlack></p>
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_18.png" class="imgFix">

			<div class="contDerNueve1">
				<p>“Liderar el desarrollo de los <span4>Medios de Pago seguros</span4> que gestionamos, mediante ofertas de valor segmentadas a nuestros clientes, siendo <span4>competitivos</span4> en el procesamiento, con servicios de calidad, con <span4>riesgo controlado</span4> y en un buen ambiente laboral”.</p>
			</div>

		</div>

		<div class="cleaner">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p><span2>¿Quiénes somos?</span2></p>

		<div class="contImg19Cuadro">
			
			<li><p>Transbank es una empresa de apoyo al giro bancario (SAG) de propiedad de 13 accionistas.</p></li>

			<li><p>Administramos las Tarjetas de Crédito: Visa, MasterCard, Magna, Diners Club y American Express.</p></li>

			<li><p>Administramos las tarjetas de débito: en sus marcas Redcompra y las marcas internacionales VISA Electron y Maestro.</p></li>

			<li><p>Nuestro cliente es el comercio, operamos en más de 130 mil establecimientos comerciales, con más de 25 oficinas a lo largo del país.</p></li>

		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p><span3>Dentro de los procesos que realizamos en Transbank encontramos:</span3></p>

		<div class="contImg20">

			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_20.png">

			<div class="txtContImg20_1">
				<p>Administramos la relación con los comercios ubicados a lo largo del país que comercializan sus productos o servicios con tarjetas.</p>
			</div>

			<div class="txtContImg20_2">
				<p>Coordinamos el pago de las transacciones a los comercios y el cobro de las mismas a los emisores.</p>
			</div>

			<div class="txtContImg20_3">
				<p>Proveemos de una red de transmisión electrónica de las transacciones desde los puntos de venta.</p>
			</div>

			<div class="txtContImg20_4">
				<p>Desarrollamos productos, marketing industrial e investigación tecnológica.</p>
			</div>

			<div class="txtContImg20_5">
				<p>Realizamos la compensación de los flujos financieros de extranjeros comprando en Chile y de chilenos comprando en el extranjero.</p>
			</div>

			<div class="txtContImg20_6">
				<p>Procesamos transacciones de Tarjetas de Retail: CMR, CAR, Cencosud y Presto.</p>
			</div>

		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

		<div class="contIzDiez">
			<img src="http://static.vgroup.cl/img/2014/ico/ico_alert.png">
		</div>

		<div class="contDerDiez">
			<p><span4><i><b>En Transbank NO realizamos:</b></i></span4></p>

			<p><txtBoldItalicBlack>Transbank no tiene el rol emisor, por lo que no tiene la relación directa con los tarjetahabientes:</txtBoldItalicBlack></p>

			<p>- Las condiciones por el uso de sus tarjetas y los costos asociados dependen exclusivamente de cada emisor.</p>

			<p>- No realizamos autorización de transacciones nacionales e internacionales.</p>

			<p>- No administramos la red de cajeros automáticos a lo largo de Chile.</p>

		</div>

			<p><span2>¿Cuáles son los bancos emisores de tarjetas?</span2></p>

		<div class="contImg21">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_21_1.png">
		</div>

		<div class="contImg21_2">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_21_2.png" class="img21_2">
		</div>

		<div class="cleaner4">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p><span2>¿Cuáles son emisores no bancarios de las tarjetas?</span2></p>

		<div class="contImg22">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_22.png">
		</div>

			<p><span2>¿Qué Emisor tiene tarjeta propia?</span2></p>

		<div class="contImg23">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_23.png">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p class="subrayado5"><span>5. ¿Cuáles son los Medios de Pago administrados por Transbank?</span></p>

			<p><txtBoldItalicBlack>Administramos las Tarjetas de Crédito:</txtBoldItalicBlack> Visa, MasterCard, Magna, Diners Club y American Express; además de <txtBoldItalicBlack>Redcompra</txtBoldItalicBlack>, y las marcas internacionales Electron y Maestro:</p>

		<div class="contImg24">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_24_1.png">
		</div>

		<div class="contImg24_2">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_24_2.png">
		</div>

		<div class="cleaner4">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p class="subrayado6"><span>6. ¿Cómo operan las tarjetas?</span></p>

		<div class="contImg25">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_25.png">
		</div>

		<div class="contImg26Cuadro">
			
			<p><span2>1. Rol Adquirente:</span2> Transbank permite el uso de tarjetas de crédito y débito sustituyendo el dinero efectivo, a través de sus Terminales de Puntos de Venta, distribuidos en una amplia gama de establecimientos en todo el país. Adhiriendo a la aceptación de los Medios de Pago.</p>

			<p><span2>2. Rol Emisor:</span2> Bancos y entidades financieras proveen a sus clientes de tarjetas de crédito y débito (plásticos).</p>

			<p><span2>3.</span2> El tarjetahabiente (clientes del comercio) pagan con tarjeta el servicio o producto adquirido. <span4><i><b>Transbank provee y cobra el acceso a los Terminales de Punto de Venta.</b></i></span4></p>

			<p><span2>4.</span2> El comercio transmite electrónicamente los datos del tarjetahabiente y del monto de la compra a Transbank. <span4><i><b>Se conecta a través de telefonía fija, telefonía IP o conexión dedicada y otras formas de conectividad que existen en el mercado.</b></i></span4></p>

			<p><span2>5.</span2> Transbank envía los datos al emisor. <span4><i><b>Por cada transacción que procesa Transbank transfiere una comisión al emisor.</b></i></span4></p>

			<p><span2>6.</span2> El banco confirma los datos y autoriza montos.</p>

			<p><span2>7.</span2> Compra confirmada. <span4><i><b>Cuando el emisor confirma la compra, Transbank autoriza y paga al comercio.</b></i></span4></p>

			<p><span2>8.</span2> El comercio entrega el producto o presta el servicio al tarjetahabiente.</p>

			<p><span2>9.</span2> El tarjetahabiente paga al emisor, las compras con la tarjeta de crédito o débito. <span5><i><b>Las entidades financieras o bancarias cobran a sus clientes el uso de las tarjetas y sus productos.</b></i></span5></p>

			<p><span2>10.</span2> Transbank provee a emisores y entidades financieras un sistema robusto de procesamiento de Medios de Pago. <span5><i><b>El banco paga a Transbank por la utilización de sus servicios y transfiere los montos de las transacciones.</b></i></span5></p>

		</div>


	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p class="subrayado7"><span>7. Desarrollo e innovación</span></p>

			<p><span2>¿Cuál ha sido el desarrollo de Transbank?</span2></p>

		<div class="contImg28">

			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_28.png">

		</div>

		<div class="contImg29">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_29.png">
		</div>

		<div class="contImg30">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_30.png">
		</div>

		<div class="contImg31">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_31_v2.png">
		</div>

		<div class="contImg32">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_32.png">
		</div>

		<div class="contImg33">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_33.png">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

	<div class="contImg34">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_34.png">
		</div>

		<div class="contImg35">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_35.png">
		</div>

		<div class="contImg36">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_36.png">
		</div>

		<div class="contImg37">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_37.png">
		</div>

		<div class="contImg38">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_38.png">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

		<div class="contCuadro1">
			<div class="imgContCuadro1">
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_39.png">
			</div>

			<div class="txtContCuadro1">
				<p><txtBoldItalicBlack>¡Transbank ofrece un proceso de compra innovador que proporciona la adquisición de productos mediante un pago rápido, limpio y seguro!</txtBoldItalicBlack></p>
			</div>

		</div>

			<div class="contImg40">
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_40.png">
			</div>

			<div class="contImg41Cuadro">
				
				<p><span4><i><b>“CHIP – Con Contacto”</b></i></span4> que implementa CHIP EMV para crédito y débito nacional e Internacional, según normas Visa, Mastercard y American Express.</p>

				<p><span4><i><b>“CHIP – Sin Contacto (Contactless)”</b></i></span4> que implementa CHIP EMV para crédito y nacional e internacional, como la mejor solución que supera al efectivo.</p>

				<p><span4><i><b>“Billetera virtual”</b></i></span4> (Kuapay) que permite portar los Medios de Pago existentes.</p>

				<p><span4><i><b>“One Click”</b></i></span4> que mejora en la experiencia de compra en el comercio electrónico en Chile, haciendo que las compras sean simples, rápidas y seguras.</p>

				<p><span4><i><b>“Consolidación de cuotas en canales remotos”</b></i></span4>: Webpay Plus, Agencias de Viaje, Call Center.</p>

				<p><span4><i><b>“Autoservicio”</b></i></span4> que promueve la auto-atención de los tarjetahabientes por medio de autoservicio en Cines, POS integrado, pago de cuentas y host to host (Pronto COPEC).</p>

				<p><span4><i><b>“Integración GDS’s con Transbank”</b></i></span4> en la compra de ticket aéreo.</p>

				<p><span4><i><b>“Patpass by Webpay”</b></i></span4> que proporciona seguridad en las compras por Internet.</p>

				<p><span4><i><b>“Incentivos a Dependientes”</b></i></span4> por medio del sistema de fidelización que permite premiar a los dependientes de los comercios adheridos, que incentiven las ventas con Tarjetas entre sus clientes y que cumplan con metas de ventas, transacciones o puntos entregadas por Transbank.</p>

				<p><span4><i><b>“Autorización y Captura Diferida en Internet”</b></i></span4> que permite que al momento de realizar el despacho se realiza la captura de la transacción por el monto correspondiente.</p>

				<p><span4><i><b>“Botón Webpay a través de Webpay.cl”</b></i></span4> que permite la incorporación de botones en sitios web de comercios con bajo conocimiento tecnológico.</p>

				<div class="txtFooterContImg41Cuadro">
					<p><span4><i><b>¡Entre otras múltiples novedades!</b></i></span4></p>
				</div>


			</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p class="subrayado8"><span>8. Las 4 P y la quinta es el Medio de Pago</span></p>

			<p><span2>Recordemos que las 4 P en el proceso de compra - venta son:</span2></p>

		<div class="contImg43">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_43.png">
		</div>

		<div class="contImg44">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_44.png">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

				<p class="subrayado9"><span>9. Cifras del negocio</span></p>

				<p>Somos una Compañía líder en el mercado Chileno y nos encargamos de contar con la mayor tecnología, seguridad y rapidez en el servicio que brindamos:</p>

			<div class="contIzOnce">

				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_18.png" class="img45" >
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_45.png" class="img46">

			</div>

			<div class="contDerOnce">
				<p><txtBoldItalicBlack>• Grandes volúmenes.
				<br>• Tecnologías de punta.
				<br>• Alta contingencia.</txtBoldItalicBlack></p>
			</div>

			<div class="cleaner2"></div>

				<p>Nuestros volúmenes de negocio son:</p>

			<div class="contImg46">
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_46.png">
			</div>

			<div class="contImg47">
				<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_47.png">
			</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p>Contamos con una red presente en todo el país:</p>

		<div class="contImg48">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_48_v2.png">

			<div class="txtContImg48_1">
				<p>Tenemos equipos físicos instalados en más de <span2>340 comunas</span2> del país, nuestra cobertura alcanza a más del <span2>99% del total de comunas</span2> y cubre el <span2>99,99% de la población.</span2></p>
			</div>

			<div class="txtContImg48_2">
				<p>Como parte de nuestro Proyecto de Terminalización, existen más de <span2>12.200 POS</span2>, todos ellos en comercios de sectores socioeconómicos de C3 a D.</p>
			</div>

			<div class="txtContImg48_3">
				<p>Estamos presentes en el <span2>100% de las comunas del país con más de 3 mil habitantes.</span2></p>
			</div>

		</div>

		<div class="contImg49">
			<img src="http://static.vgroup.cl/img/2015/01/trans_medioPago_c1_l1_49.png">
		</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">

			<p class="subrayado10"><span>10. Flujograma de procesamiento de una transacción</span></p>

			<!--MULTIMEDIA1-->	
			<div id="flashContent">		
			  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="740" height="500" id="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_01.swf" align="middle">
			  <param name="movie" value="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_01.swf" />
			  <param name="quality" value="high" />
			  <param name="bgcolor" value="#ffffff" />
			  <param name="play" value="true" />
			  <param name="loop" value="true" />
			  <param name="wmode" value="window" />
			  <param name="scale" value="showall" />
			  <param name="menu" value="true" />
			  <param name="devicefont" value="false" />
			  <param name="salign" value="" />
			  <param name="allowScriptAccess" value="sameDomain" />
			  	<!--[if !IE]>-->
			  	<object type="application/x-shockwave-flash" data="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_01.swf" width="740" height="500">
			    <param name="movie" value="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_01.swf" />
			    <param name="quality" value="high" />
			    <param name="bgcolor" value="#ffffff" />
			    <param name="play" value="true" />
			    <param name="loop" value="true" />
			    <param name="wmode" value="window" />
			    <param name="scale" value="showall" />
			    <param name="menu" value="true" />
			    <param name="devicefont" value="false" />
			    <param name="salign" value="" />
			    <param name="allowScriptAccess" value="sameDomain" />
			    <!--<![endif]-->
				
				<a href="http://www.adobe.com/go/getflash">
			 	<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a>
				<!--[if !IE]>-->
		   	    </object>
				    <!--<![endif]-->
		  	  </object>
			</div>

			<br><br><br><br><p class="subrayado11"><span>11. Preguntas Frecuentes de Medios de Pago</span></p>

			<!--MULTIMEDIA2-->	
			<div id="flashContent">		
			  <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="740" height="500" id="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_02_v2.swf" align="middle">
			  <param name="movie" value="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_02_v2.swf" />
			  <param name="quality" value="high" />
			  <param name="bgcolor" value="#ffffff" />
			  <param name="play" value="true" />
			  <param name="loop" value="true" />
			  <param name="wmode" value="window" />
			  <param name="scale" value="showall" />
			  <param name="menu" value="true" />
			  <param name="devicefont" value="false" />
			  <param name="salign" value="" />
			  <param name="allowScriptAccess" value="sameDomain" />
			  	<!--[if !IE]>-->
			  	<object type="application/x-shockwave-flash" data="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_02_v2.swf" width="740" height="500">
			    <param name="movie" value="http://static.vgroup.cl/videos/2015/01/transbank_medios_ pago_02_v2.swf" />
			    <param name="quality" value="high" />
			    <param name="bgcolor" value="#ffffff" />
			    <param name="play" value="true" />
			    <param name="loop" value="true" />
			    <param name="wmode" value="window" />
			    <param name="scale" value="showall" />
			    <param name="menu" value="true" />
			    <param name="devicefont" value="false" />
			    <param name="salign" value="" />
			    <param name="allowScriptAccess" value="sameDomain" />
			    <!--<![endif]-->
				
				<a href="http://www.adobe.com/go/getflash">
			 	<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a>
				<!--[if !IE]>-->
		   	    </object>
				    <!--<![endif]-->
		  	  </object>
			</div>

	</div>

	<!-- PAGE-BREAK -->

	<div class="pag">
		<p><span7>A continuación encontrarás una pregunta de reflexión. Escribe tu respuesta en el campo bajo ella (agregar comentario) y luego presiona enviar. Con esto podrás iniciar un debate con tus compañeros, el que será moderado por el “tutor”.</span7></p>

		<h3>¿Podrás desde ahora estudiar, leer y aprender todo lo referido a Transbank y su importancia en el actual proceso de compra-venta? ¿Cómo definirías nuestro servicio y nuestra industria?</h3>

		

		
	</div>
	
