	<meta charset="UTF-8">
	<style type="text/css">
		

		 @font-face {/*--normal--*/
		        font-family: 'sourcesansproregular';
		        src: url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.eot');
		        src: url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.eot?#iefix') format('embedded-opentype'),
		             url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.woff') format('woff'),
		             url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.ttf') format('truetype'),
		             url('http://static.vgroup.cl/fonts/sourcesansproregular-webfont.svg#sourcesansproregular') format('svg');
		        font-weight: normal;
		        font-style: normal;
		 }
		@font-face {/*--bold--*/
			    font-family: 'sourcesanspro-bold';
			    src: url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.eot');
			    src: url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.woff') format('woff'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-bold-webfont.svg#sourcesanspro-bold') format('svg');
			    font-weight: bold;
			    font-style: normal;
		}
		@font-face {/*--italic--*/
			    font-family: 'sourcesanspro-it';
			    src: url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.eot');
			    src: url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.eot?#iefix') format('embedded-opentype'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.woff') format('woff'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.ttf') format('truetype'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-it-webfont.svg#sourcesanspro-it') format('svg');
			    font-weight: normal;
			    font-style: italic;
		}
		@font-face {/*--boldItalic--*/
			    font-family: 'sourcesanspro-boldit';
			    src: url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.eot');
			    src: url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.woff') format('woff'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.ttf') format('truetype'),
			         url('http://static.vgroup.cl/fonts/sourcesanspro-boldit-webfont.svg#sourcesanspro-boldit') format('svg');
			    font-weight: bold;
			    font-style: italic;

		}

		p{
			font-family: "sourcesansproregular";
			font-weight: "normal";
			font-style: "normal";
		}
		p i{
			font-family: "sourcesanspro-it";
			font-weight: "normal";
			font-style: "italic";
		}
		p b{
			font-family: "sourcesanspro-bold";
			font-weight: "bold";
			font-style: "normal";
		}

		

		p span{
			color: #FFCD5B;
			font-family: "sourcesanspro-bold";
			font-weight: bold;
			font-size: 18px;

		}

		p span2{
			color: #FF611F;
			font-family: "sourcesanspro-bold";
			font-weight: bold;
			font-size: 18px;

		}

		p span3{
			color: #54B2E1;
			font-family: "sourcesanspro-bold";
			font-weight: bold;
			font-size: 18px;

		}

		p span4{
			color: #84C746;
			font-family: "sourcesanspro-bold";
			font-weight: bold;
			font-size: 18px;

		}

		txtLi{
			font-family: "sourcesansproregular";
			font-weight: normal;
			font-style: normal;
		}

		txtBoldIt{
			font-family: "sourcesanspro-boldit";
			font-weight: bold;
			font-style: italic;
		}


		.contClase1{
			width: 100%;
			margin-bottom: 50px;
		}

		.contClase2{
			width: 100%;
			margin-bottom: 50px;
		}

		.contClase3{
			width: 100%;
			margin-bottom: 50px;
		}

		.contClase4{
			width: 100%;
			margin-bottom: 50px;
		}



	</style>


	<div class="contObjetivoGeneral">

		<p><txtBoldIt>Objetivo general:</txtBoldIt> <i>Identificar Las Herramientas De Administración Del Tiempo Para Gestionar De Forma Efectiva Las Tareas en su puesto laboral.</i></p>

	</div>

	<div class="contClase1">

		<p><span>Clase 1: Manejo eficiente del tiempo</span></p>

		<p><i>Objetivo:
		<br>Identificar las herramientas que permiten planificar, organizar y gestionar el tiempo en función de la eficiencia en el trabajo</i></p>

		<p>
			<li><txtLi>El tiempo, mi recurso clave.</txtLi></li>
			<li><txtLi>Gestión del tiempo.</txtLi></li>
			<li><txtLi>¿Cómo uso mi tiempo?</txtLi></li>
			<li><txtLi>¿Qué sucede cuando utilizo inadecuadamente el tiempo?</txtLi></li>
		</p>

	</div>

	<div class="contClase2">

		<p><span2>Clase 2: Primeros pasos para hacer más eficiente mi tiempo</span2></p>

		<p><i>Objetivo:
		<br>Reconocer las estrategias iniciales que permiten hacer eficiente el uso del tiempo.</i></p>

		<p>
			<li><txtLi>Definición de objetivos.</txtLi></li>
			<li><txtLi>Discriminar entre las tareas importantes y las urgentes.</txtLi></li>
			<li><txtLi>Desperdiciadores en el día a día.</txtLi></li>
			<li><txtLi>Desperdiciadores en las etapas de administración.</txtLi></li>
		</p>

	</div>

	<div class="contClase3">

		<p><span3>Clase 3: Herramientas que facilitarán tu gestión del tiempo</span3></p>

		<p><i>Objetivo:
		<br>Identificar herramientas y metodologías para aumentar la producción personal y gestionar de manera eficiente el tiempo.</i></p>

		<p>
			<li><txtLi>Principios de la metodología Organízate con eficacia (GTD).</txtLi></li>
			<li><txtLi>Principios de la metodología Timeboxing.</txtLi></li>
			<li><txtLi>Carta Gantt (diagrama de Gantt).</txtLi></li>
			<li><txtLi>Quick wins.</txtLi></li>
		</p>

	</div>

	<div class="contClase4">

		<p><span4>Clase 4: Estrategias de administración del tiempo en la jornada laboral</span4></p>

		<p><i>Objetivo:
		<br>Facilitar la implementación de los conocimientos, estrategias y herrramientas obtenidas en el curso mediante la presentación de siutaciones y tips de la administración del tiempo.</i></p>

		<p>
			<li><txtLi>Situación 1: Claudia y su carga laboral.</txtLi></li>
			<li><txtLi>Situación 2: Alex y el comité.</txtLi></li>
			<li><txtLi>Antes de iniciar el día.</txtLi></li>
			<li><txtLi>Establece tiempos fijos.</txtLi></li>
			<li><txtLi>No improvises.</txtLi></li>
			<li><txtLi>Que no te interrumpan.</txtLi></li>
			<li><txtLi>Busca el equilibrio.</txtLi></li>
		</p>

	</div>